<h1>O nama</h1>

<p style="margin:0px;font-size:24px;font-family:Helvetica;min-height:14px; font-style:italic">Mi smo internet prodavnica koja  se bavi prodajom I distribucijom  kvalitetnih domacih vina. 

Veliki izbor, proveren kvalitet,  besplatna dostava. 

Jednostavno I brzo,  nasa vina na Vasem stolu!</p>

<p style="margin:0px;font-size:24px;font-family:Helvetica;min-height:14px; font-style:italic">Bacva.rs  za Vase istinski dobro raspolozenje!</p>
