@import "bootstrap-sprockets";
@import "bootstrap";

@import "compass";

// Needs latest Compass, add '@import "compass"' to your scss
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+99,8c3310+99,8c3310+99





#leva_kolona{
 background-color: #0D0000;
 height: 1000px;
 padding-top: 40px;

}
 

#centar{
		
    border-left: 30px solid #1D0404;
    border-right: 30px solid #1D0404;
	border-top: 40px solid #0D0000; 

	background-color: #030000;
    padding: 0;
    padding-bottom: 70px;

}

#desna_kolona{
 background-color: #0D0000;
 height: 1000px;
 padding-top: 20px;
}


#centriraj_kontejner{
	margin: 0 auto;

}

#centriraj_red {
	margin: 0 auto;
}


 .jumbotron {
 margin: 0 auto;
 margin-bottom: 0px;
 margin-top: 50px;
 margin-right: 100px;
 margin-left: -30px;
 width: 1215px;
 height: 280px;
 background: url('/images/jumbo.jpg');
 border-radius: 6px;
 }

 body{

 @include filter-gradient(#f0b7a1, #bf6e4e, horizontal); // IE6-9
@include background-image(linear-gradient(left,  #f0b7a1 0%,#60150b 34%,#752201 49%,#bf6e4e 100%));

 }

 #meni{
 margin-bottom: 0px;
 background-color: #5E0E03;
 border-color: #5E0E03; 
 }

 #meni a {
 text-shadow: 0px 0 15px white;	
	font-weight: bold;
 }

#menu-left{
    margin-left: 650px;
    
}

#menu-left a{
    font-size: 14px;
    font-weight: bold;
}


 #cart_line_item_total_price{
	font-size: 18px;
	color: white;
}

 a {
 color: white;
 }

 p{
 color: white;
 }

 h3{
 color: white;
 }

  h1{
 color: white;
 }

 

 .line_item{
 font-size: 16px;
 color: white;
 }

.form-group{
	color: white;
}

#metod_placanja{
	color: black;
}

legend{
	color: white;
}

.price{
	color: white;
}



.dropdown-menu {
	background-color: #5E0E03;    
    background-image: none;
    color: white;
	
}

.dropdown:hover>.dropdown-menu {
    display:block;
}

.dropdown li a {
	color: white;
}


.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:0px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:200;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;

}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;        
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

#notice {
    font-size: 24px;
    color: white;
}


#product_list {
    margin: 10px;
    padding-top: 10px;
}

#prikaz_proizvoda {
    margin: 10px;
    padding-top: 10px;
}

#opis_proizvoda {
    font-style: italic;
    font-size: 16px;
    color: green;
}

#store_margin_test {
    margin: 0 auto;
    padding: 0 auto;
}

#store_margin_test1 {
     margin-left: -22px;
    padding-right: 8px;
}

.table {
    color: white;
}

.sidebar{
    height: 1000px;
    width: 250px;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-left: 50px;
}

#footer{
    width: 100%;
    background-color: black;
    margin-bottom: 0;
    margin-top: 70px;
}