<!DOCTYPE html>
<html>
<head>
  <title>Bacva</title>
 
  <%= stylesheet_link_tag "bacva.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>
